:root {
  --header-title-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --main-button-color: #ffffff;
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --hover-color: #2196f3;
  --tet-accent-color: #000000;
  --main-work-color: #2e2e2e;
  --filter-btn-color: #f5f4fa;
  --team-section-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--header-text-color);
}

button {
  cursor: pointer;
}

/*--------------list and Link-------------*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  max-width: 100%;
}

/* -----------Logo---------------- */

.logo {
  font-family: Roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* -----------------Footer-------------- */

.footer-logo-first {
  color: var(--accent-color);
}
.footer-logo-second {
  color: var(--first-color);
}

/* -----------------Header-------------- */

.current-link {
  color: var(--accent-color);
}

.logo-text {
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo-teext {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo-accent {
  color: var(--accent-color);
}

.tet-accent {
  color: var(--tet-accent-color);
}

.tit-accent {
  color: var(--first-title-color);
}

.header-logo-second {
  color: var(--tet-accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--first-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-color);
}

.header-contacts:focus,
.header-contacts:hover {
  color: var(--accent-color);
}

.header-navi {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.contact-item {
  margin-right: 50px;
}

.contact-item:last-child {
  margin-right: 0px;
}

/*--------------Main section-------------*/

.main-work {
  padding: 200px 0;
  background-color: var(--second-title-color);
  text-align: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-title-color);
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  width: 200;
  height: 50;
  color: var(--first-title-color);
  background-color: var(--hover-color);
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--hover-color);
  color: var(--first-title-color);
}

/* ---------Features section---------- */

.features {
  background-color: var(--first-title-color);
}

.features-list {
  display: flex;
}

.features-item {
  max-width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-func {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-button-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* -----------About------------ */

.about {
  background-color: var(--first-color);
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 50px;
}

/* ---------------Team------------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.team-item {
  background-color: white;
  background-color: var(--first-title-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-personal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--third-color);
  margin-top: 10px;
}

.team-real {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* --------------FOOTER-------------------  */

.footer-item {
  margin-top: 10px;
}

.footer-main {
  background-color: var(--second-title-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

/* --------------- PORTFOLIO----------------- */

/* -----------------Filter------------------ */

.filter {
  background-color: var(--first-button-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--team-section-color);
  color: var(--second-button-color);
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  padding: 6px 22px;
}

.filter-btn:last-child {
  margin-right: 0;
}

.filter-btn:hover,
.filter-btn:focus {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--first-button-color);
  border: none;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  margin-top: 50px;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-button-color);
}

.work-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.mark-about {
  border-top: none;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
